# LLM API keys
OPENAI_API_KEY=""
GROQ_API_KEY=""
DEEPSEEK_API_KEY=""

# Langsmith keys
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="Telegram assistant"

# Telegram setup
TELEGRAM_TOKEN=""
CHAT_ID=""

# DeepGram for Voice
DEEPGRAM_API_KEY=""
